# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# Environment
.env
backend/.env
backend/ecommerce.db
backend/keys/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
make_ppt.py
make_ppt2.py
fix_env.py
update_env.py
write_key.py
write_key2.py
write_pubkey.py
generate_images.py
